.buttons {
  padding: 4%;
  background: yellow;
  justify-content: center;
  border-radius: 10%;
  text-decoration: none;
  color: black;
  font-family: 'Nanum Gothic', sans-serif;
}
.cardscont {
  width: 30%;
  margin: 0 1% 0 1%;
  background-color: lightgray;
  padding: 2%;
  font-family: 'Nanum Gothic', sans-serif;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
nav {
  padding-left: 3%;
  box-shadow: black 2px 2px  5px;
  padding-bottom: 1%;
  padding-top: 1%;
  display: flex;
  background-color: #034638;
}
nav .logo {
  display: flex;
  align-items: center;
  color: white;
  width: 33%;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
}
nav .nav-links {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 600px) {
  nav .nav-links {
    width: 100%;
  }
}
nav .nav-links a {
  color: white;
  text-decoration: none ;
  font-size: 15px;
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: 5px;
}
nav .nav-buttons {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 600px) {
  nav .nav-buttons {
    display: none;
  }
}
nav .nav-buttons .navbtn1 {
  padding: 4%;
  background: yellow;
  justify-content: center;
  border-radius: 10%;
  text-decoration: none;
  color: black;
  font-family: 'Nanum Gothic', sans-serif;
}
nav .nav-buttons .navbtn2 {
  padding: 4%;
  background: yellow;
  border-radius: 10%;
  text-decoration: none;
  color: black;
  font-family: 'Nanum Gothic', sans-serif;
  width: 11%;
  margin-left: 2%;
  padding-right: 8%;
  justify-content: center;
}
footer {
  width: 100%;
  background-color: #034638;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  justify-content: center;
}
header {
  display: flex;
  flex-wrap: wrap;
}
header h2 {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 25px;
  margin: 3%;
  margin-top: 7%;
  font-family: monospace;
  text-decoration: underline;
}
header img {
  display: flex;
  width: 40%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5%;
}
@media (max-width: 600px) {
  header img {
    width: 60%;
  }
}
.material-icons {
  margin-top: 2%;
  width: 100%;
  display: flex!important;
  justify-content: center;
  background-color: #034638;
  font-size: 50px!important;
  color: white!important;
}
.content {
  display: flex;
  width: 90%;
  margin: 0 5% 0 5%;
}
@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }
}
.content .learn,
.content .meet,
.content .started {
  width: 30%;
  margin: 0 1% 0 1%;
  background-color: lightgray;
  padding: 2%;
  font-family: 'Nanum Gothic', sans-serif;
}
.content .learn .pic,
.content .meet .pic,
.content .started .pic {
  width: 100%;
  margin-bottom: 5%;
}
@media (max-width: 600px) {
  .content .learn,
  .content .meet,
  .content .started {
    width: 90%;
  }
}
.learn,
.meet,
.started {
  width: 30%;
  margin: 0 1% 0 1%;
  background-color: lightgray;
  padding: 2%;
  font-family: 'Nanum Gothic', sans-serif;
}
